.button {
    background: #1c69d4;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 0.4rem;
    white-space: nowrap;
}

.button:not(:disabled):hover {
    background: #155cc0;
}

.button:disabled {
    opacity: 0.4;
    cursor: default;
}