.aboutMe {
    background: #7A7A7A;
    position: relative;
    color: #fff;
    height: 100%;
    overflow-y: scroll;
    grid-area: 1 / 1 / 2 / 2;
}

.aboutMe::-webkit-scrollbar {
    display: none;
}

.aboutMe .switch {
    height: 100%;
    width: 1rem;
    background: #575757;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.aboutMe .switch::after {
    content: '◀️';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.9rem;
}

.aboutMe .imageWrap {
    display: block;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 3rem auto 0;
}

.aboutMe .imageWrap .image {
    height: 100%;
}

.aboutMe .name {
    font-size: 1.6rem;
    text-align: center;
    margin: 1.2rem 0 0;
}

.aboutMe .profile {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.aboutMe .profileWrap {
    width: 80%;
    margin: 3rem auto 0;
}

.aboutMe .profileWrap .title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.aboutMe .profileWrap p {
    width: 100%;
    margin-bottom: 1.2rem;
}

.aboutMe .profileWrap p .link {
    color: #fff;
}

.aboutMe .profileWrap p:last-child {
    margin-bottom: 0;
}

.aboutMe .contactWrap p {
    position: relative;
}

.aboutMe .contactWrap p i {
    margin-right: 0.5rem;
}

.more {
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
}

.more::before {
    padding-right: 0.2rem;
}

.modal {
    box-shadow: none !important;
    width: 60%;
    min-width: 1000px;
}

.modal .modalHeader {
    padding: 0.5rem 0.8rem 0.5rem 1.5rem !important;
    background: #7a7a7a !important;
    color: #fff !important;
}

.archiveInner {
    padding: 2rem 1.5rem 0;
    color: #262626;
}

.modal .wrap {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal p {
    padding-top: 1rem;
}

.modal a {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid #bbb;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    text-align: center;
}

.modal a picture {
    overflow: hidden;
}

.modal a picture img {
    padding: 1rem;
    width: 100%;
    height: 85%;
    object-fit: cover;
}