.wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 29rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 800px;
    transition: grid-template-columns .2s;
}

.wrap .archive {
    padding: 1.5rem 2rem 1rem;
    overflow: hidden;
    grid-area: 1 / 2 / 2 / 3;
    min-width: 868px
}

.wrap .archive .archiveTitle {
    font-size: 1.4rem;
    border-bottom: 3px solid #000;
    padding-bottom: 0.5rem;
}

.wrap .archive .change {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    user-select: none;
}

.wrap .archive .change .archiveChange {
    white-space: nowrap;
    width: fit-content;
}

.wrap .archive .change .archiveChange input[type="radio"] {
    display: none;
}

.wrap .archive .change .archiveChange label {
    display: inline-block;
    width: 7.5rem;
    text-align: center;
    padding: 0.4rem 0;
    border: 1px solid #1c69d4;
    color: #1c69d4;
    cursor: pointer;
    transition: 0.1s;
}

.wrap .archive .change .archiveChange label:first-of-type {
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.wrap .archive .change .archiveChange label:last-of-type {
    border-left: none;
    border-radius: 0 6px 6px 0;

}

.wrap .archive .change .archiveChange input[type="radio"]:checked+label {
    background: #1c69d4;
    font-weight: bold;
    color: #fff;
}

.wrap .archive .change .condition {
    display: inline-block;
    width: fit-content;
    margin-left: 1.2rem;
}

.wrap .archive .change .condition>div {
    display: inline-block;
    margin-right: 0.4rem;
}

.wrap .archive .change .condition>div input[type="radio"] {
    display: none;
}

.wrap .archive .change .condition>div label {
    font-size: 0.8rem;
    /* padding: 0.1rem 0.8rem 0.1rem 1.5rem; */
    padding: 0.1rem 0.8rem;
    border: 1px solid #1c69d4;
    color: #1c69d4;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s;
}

.wrap .archive .change .condition>div input[type="radio"]:checked+label {
    font-size: 0.8rem;
    padding: 0.1rem 0.8rem 0.1rem 1.8rem;
    border: 1px solid #1c69d4;
    background: #1c69d4;
    color: #fff;
    border-radius: 20px;
    position: relative;
}

.wrap .archive .change .condition>div input[type="radio"]:checked+label::before {
    content: '✔︎';
    position: absolute;
    left: 0.8rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}